.primary.sidebar {
  width: 100%;
  margin: 2rem auto;
  text-align: center;

  @include media-breakpoint-up(lg) {
    margin: 8rem 4rem;
  }

  #nametag {
    max-width: 10rem;
    transform: rotate(-5deg);
  }

  section {
    padding: 1rem 0;

    &:nth-of-type(2) {
      p {
        margin-bottom: 0;
        line-height: 1.5;
      }
    }

    p {
      margin-bottom: 1rem;
      text-align: center;
      line-height: 1.25em;
      font: {
        size: 1.0rem;
        weight: 600;
      }

      em, a {
        font-weight: 900;
        color: #e30613;
      }

      img {
        margin: 1.5rem auto;
      }

      strong {
        font-weight: 900;

        &.heart {
          color: #e30613;
          font-style: normal;
        }
      }
    }
  }
}