p {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.8;
  font-family: 'Merriweather', serif;

  img {
    max-width: 100%;
  }

}

h2, h3, h4, h5, h6 { font-family: 'Merriweather', serif; font-weight: bold; line-height: 2; margin: 1rem 0; }