body {
  background: fixed linear-gradient( lighten( $brand-primary, 50% ), lighten( $brand-primary, 54% ) );
}

h1, h2, h3, h4, h5, h6,
p, li,
time {
  font: {
    family: 'Merriweather', serif;
  }
}

h1, h2, h3, h4, h5, h6 {

  font: {
    weight: bold;
  }

}

h1 {
  margin: 0 auto 1rem;
}

h2 {
  line-height: 1.5;

  a {
    border: none;
  }
}

h3 {
  font-size: 1rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.8;

  img {
    max-width: 100%;

    &.feed {
      margin-top: 0.5rem;
    }
  }

}

a {
  display: inline; position: relative;
  border-bottom: 1px solid $brand-primary;

  &:hover {
    text-decoration: none;
    color: $link-hover-color !important;
    border-bottom: 1px solid $link-hover-color !important;
  }


}