p {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.8;
  font-family: 'Merriweather', serif;

  a {
    color: red;
    font-weight: bold;
    font-style: italic;
  }
}

h2, h3, h4, h5, h6 { font-family: 'Merriweather', serif; font-weight: bold; line-height: 2; margin: 1rem 0; }