// Colors
$brand-primary:         #e30613;

$fa-font-path:          '~font-awesome/fonts';

$brand-time:            .2s;

// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px
// )
